{% if page.title == "Home" or page.title == "Início" or page.title == "Blog" or page.title == "Projects" or page.title ==
"Projetos" or page.title == "Tags" or page.title == "Categorias" %}{% assign showHeader = true %}{% endif %} {% if showHeader
== true %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if site.about %}
    <a class="link" href="{{ site.url }}/about">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}"
        />
    </a>
    {% else %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}"
        />
    </span>
    {% endif %}

    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2>

    {% include social-links.html %}
</header>
{% endif %} {% include nav.html %}

<script src="https://unpkg.com/blip-chat-widget" type="text/javascript"></script>
<script>
    (function () {
        window.onload = function () {
            new BlipChat()
                .withAppKey('cGFjaGVjb2JvdDo0MUNDQzRDRS02Rjk4LTQ4NEQtOEM1MC02MTEzRDkzMUE5Q0Y=')
                .withButton({ "color": "#222222" })
                .build();
        }
    })();
</script>